<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notification Event Trigger</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
</head>
<body>
<h1>Notification Event Trigger</h1>
<button onclick="sendEvent()">Trigger Event</button>

<script>
    var stompClient = null;

    function connect() {
        var socket = new SockJS('/websocket');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/notification2', function (greeting) {
                alert(greeting.body);
            });
        });
    }

    function sendEvent() {
        stompClient.send("/app/send2", {}, JSON.stringify({'message': "Hello from Client!"}));
    }

    connect();
</script>
</body>
</html>
